{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}

<div class="container">
<div class="row">
{% for item in articles %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ url('welcome') }}{{ asset('/uploads/')}}{{ item.image }}" alt="{{item.title}}">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{ item.description|slice(0,200)|raw}}</p>
    <a href="{{ path('article_detail', {'slug':item.id}) }}" class="btn btn-primary">Detail</a>
  </div>
</div>
{% endfor %}

</div>
</div>

{% endblock %}
