{{ form_start(form) }}
    {{ form_widget(form) }}

    {{ form_row(form.image) }}
    {{ form_row(form.tag) }}
    {{ form_row(form.slug) }}
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="{{ asset('ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>

<script type="text/javascript">

    $(function() {
    	//alert('hi i m  in document ready function')
        $('#article_description').ckeditor();
    });

</script>

